Package: com.551.dndicon16
Name: DND Icon 16
Version: 1.0.7
Architecture: iphoneos-arm64
Description: Shows a customisable DND moon-and-cloud icon on the Home Screen with colour and position controls.
Maintainer: 551
Author: 551
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>= 16.0), firmware (<< 17.0)
Homepage: https://github.com/551UK/DND-Icon-16
